---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm an automation engineer with over 5 years of experience in the automation sector for both private and state-owned properties, with a focus on electronic security systems. My skills in various programming languages, hardware design (PCB), specifically in consumer electronics, and my studies in IoT have allowed me to offer innovative and efficient technological solutions to my clients and contractors.
    
    I consider myself a futurist, a robotics enthusiast, an advocate for artificial intelligence, and a firm believer that these new technologies have a lot to offer to life on earth.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Automation Engineer"
      subtitle="2012 to 2017 at Technological University of Havana (CUJAE), Cuba"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Automation Engineer"
      subtitle="From 2023] at Soluciones Electro-Automáticas SRL, Havana, Cuba"
    >
      Responsible for designing, assembling, and programming different microcontroller-based printed circuit boards (PCBs) for process automation in buildings, with water level control systems being the most requested by clients. In addition, responsible for installing and commissioning each control system, providing continuous technical support to ensure customer satisfaction. Technologies: C/C++, Assembly,  KiCAD, MPLAB X IDE, 
    </TimeLineElement>
    <TimeLineElement
      title="Research Collaborator"
      subtitle="From 2019 to 2022 at Robotics and Mechatronics Group (GRM), CUJAE, Havana, Cuba
    >
      To conduct research in robotics applied to smart warehouses, evaluating current robotic technologies and analyzing the requirements of the warehouse in question, in order to create a prototype of a mobile robot that would pick and accept orders through e-commerce. Technologies: Python, Arduino, Raspberry Pi, Path Planning, Robot Operating System (ROS), GNU/LINUX
    </TimeLineElement>
    <TimeLineElement
      title="Engineering Project Specialist"
      subtitle="From 2019 to 2023 at Almacenes Universales S.A., Havana, Cuba"
    >
      Design of executive projects for electronic security systems, with a wide range of clients including airports, embassies, companies, hotels, ports, shops, and supermarkets throughout the country. The projects carried out include video surveillance systems, automatic fire detection systems, intruder alarm systems, access control systems, among others.
    </TimeLineElement>
    <TimeLineElement
      title="General Technology Specialist"
      subtitle="From 2017 to 2019 at Almacenes Universales S.A., Havana, Cuba"
    >
      Team leader for the installation, maintenance, and repair of electronic security systems. Includes reading electrical and architectural designs, directing and executing installation work for control panels, sensors, detectors, video cameras, and structured cabling. Working with equipment from various manufacturers such as Honeywell, Optex, Ademco, Axis, Panasonic, Huawei, Came, Schneider Electric, Siemens, among others.
    </TimeLineElement>
    <TimeLineElement
      title="Automation Engineer (Thesis)"
      subtitle="From 2016 to Jul 2017 at at International Cuban Tobacco factory (ICTS.A.), Havana, Cuba"
    >
       Design of an Automated System for the Control of the Sollas 20 Overwrapping Machine.In this research project: 
      • Carried out a detailed study of the current state of the machine, its operation and state of the art in terms of the topologies of controls applied in the international arena. 
      • Analyzed and described the existing technological means, making proposals for replacement of many of these to ensure better control and increase efficiency. 
      • Designed the controller of the variable under study, through the identification Experimental of the heating process of the resistances in the sealants of the machine. 
      • Designed the application based on PLC, including communication interface with the operator (HMI), as well as the new electrical connection diagram. This guarantees the operator to know in detail the state of the machine. 
      • Performed a technical-economic analysis of the budget and expenses for the development of this Project. The profitability and benefits in the medium and long term of its implementation were analyzed. practice.
    </TimeLineElement>
    <TimeLineElement
      title="Internships"
      subtitle="From  Jan 2016 to Jul 2016 at Industrial automation company (CEDAI), Havana, Cuba"
    >
       Responsible for monitoring critical variables such as temperature and humidity in the lobby, through the Air Management Unit (AMU) using a PLC and SCADA system. Technologies: Ladder, SoMachine, Schneider Electric
    </TimeLineElement>
    <TimeLineElement
      title="Internships"
      subtitle="From  Jan 2015 to Jul 2015 at International Cuban Tobacco factory (ICTS.A.), Havana, Cuba"
    >
       The internship focused on the ENSA brand semi-automatic tobacco machine, where a thorough analysis and identification of the main variables and existing control loops were carried out, in order to perform a proper calibration. Technologies: TIA Portal, Siemens
    </TimeLineElement>
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> EF SET English Certificate 72/100 (C2 Proficient) https://www.efset.org/cert/JmewhT</a>
    </li>
    <li>
      <a href="#" target="_blank"> Programming PIC Microcontrollers with C https://platzi.com/p/mbfredys/curso/1852-pic/diploma/detalle/</a>
    </li>
    <li>
      <a href="#" target="_blank"> Electronic Circuit Design https://platzi.com/p/mbfredys/curso/1341-circuitos-electronicos/diploma/detalle/</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>SPANISH (Native)</li>
    <li>ENGLISH (C2)</li>
    <li>C/C++</li>
    <li>LADDER</li>
    <li>ASSEMBLY</li>
    <li>PYTHON</li>
    <li>HTML</li>
    <li>JAVASCRIPT</li>
    <li>NO CODE</li>
    <li>MATLAB-SIMULINK</li>
    <li>KICAD</li>
    <li>PROTEUS</li>
    <li>ARDUINO+IDE</li>
    <li>RASPBERRY PI</li>
    <li>ELECTRICAL SOLIDWORKS</li>
    <li>SOMACHINE</li>
    <li>TIA PORTAL</li>
    <li>AUTOCAD</li>
    <li>MPLAB X IDE</li>
    <li>ADOBE PHOTOSHOP</li>
    <li>OFFICE SUIT</li>
    <li>INTERNET OF THING</li>
    <li>HOME AUTOMATION</li>
    <li>ELECTRONICS SECURITY SYSTEMS</li>
    <li>STRCUTURED CABLING</li>
  </ul>
</BaseLayout>
